#helper script to run premake file
GenerateProjects.bat

#VS2017 project files
ChernoEngine.sln
.vs/

ChernoEngine/ChernoEngine.vcxproj
ChernoEngine/ChernoEngine.vcxproj.filters
ChernoEngine/ChernoEngine.vcxproj.user

SandBox/SandBox.vcxproj
SandBox/SandBox.vcxproj.user
SandBox/imgui.ini

#binary output dirs
bin/*
bin-int/*